body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;

}

img {
  height: 20rem;
  width: 70%;
  margin-top: 2rem;
}

.box-div {
  border: 1px solid black;
  margin-top: 2rem;
}
ul {
  list-style:none;
  text-align:left;
}
li {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

}

.linethru {
  text-decoration: line-through;
}
